{
  "mcpServers": {
    "my-python-server": {
      "command": "${PATH_TO_PYTHON_EXECUTE_ABLE_FILE}:-python",
      "args": [
          "${PATH_TO_SERVER_PY}:-mikrotik-mcp/src/mcp_mikrotik/server.py",
          "--password", "${PASSWORD}:-admin",
          "--host", "${HOST}:-127.0.0.1",
          "--port", "${SSH_PORT}:-22",
          "--username", "${USERNAME}:-admin"
      ],
      "env": {}
    }
  }
}