{
  "mcpServers": {
    "mikrotik-cursor-mcp": {
      "command": "python",
      "args": [
        "-m", "mcp_mikrotik.serve"
      ],
      "env": {
        "MIKROTIK_HOST": "192.168.88.1",
        "MIKROTIK_USERNAME": "kevinpez",
        "MIKROTIK_PASSWORD": "your_password"
      },
      "disabled": false,
      "autoApprove": []
    }
  }
}
